.pagination {
  padding-bottom: 97px;
  display: flex;
}

.buttonStart,
.buttonEnd,
.buttonNumber,
.buttonLeft,
.buttonRight {
  width: 41px;
  height: 41px;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0;
}

.buttonStart:hover:not(.buttonStart:disabled),
.buttonEnd:hover:not(.buttonEnd:disabled),
.buttonNumber:hover:not(.buttonNumberActive),
.buttonLeft:hover:not(.buttonLeft:disabled),
.buttonRight:hover:not(.buttonRight:disabled) {
  background-color: #464646;
  color: var(--color-secondary);
}

.buttonStart {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.buttonStart:disabled,
.buttonEnd:disabled,
.buttonLeft:disabled,
.buttonRight:disabled {
  cursor: default;
  border-color: var(--color-secondary-100);
  border-width: 2px;
}

.buttonStart svg path,
.buttonEnd svg path,
.buttonLeft svg path,
.buttonRight svg path {
  fill: var(--color-secondary);
}

.buttonStart:disabled svg path,
.buttonEnd:disabled svg path,
.buttonLeft:disabled svg path,
.buttonRight:disabled svg path {
  fill: var(--color-secondary);
  fill-opacity: 0.3;
}

.buttonEnd {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 0;
}

.buttonNumber {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-secondary);
  border-left: 0;
}

.buttonNumber:disabled {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

/* .buttonNumberActive {
  color: var(--color-primary);
  background-color: var(--color-secondary);
} */

.buttonLeft:disabled {
  border-right: 1px solid var(--color-secondary);
  border-left: 0;
}

.buttonLeft {
  border-right: 1px solid var(--color-secondary);
  border-left: 0;
}

.buttonRight {
  border-left: 0;
}

@media screen and (max-width: 387px) {
  .pagination {
    width: 280px;
    margin: 0 auto;
  }
}
