.logo {
  width: 64px;
  height: 64px;
  background-image: url(../../assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 300ms ease;
}

.logo:hover {
  opacity: 0.8;
}
