.button {
  border: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  background-image: url(../../assets/toogle-theme.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
