.search {
  width: 265px;
  height: 45px;
  background-color: var(--color-bg-input);
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  transition: height 300ms ease-in-out;
  flex-shrink: 0;
}

.search svg {
  position: absolute;
  right: 15px;
  top: 19px;
}

.titleContainer {
  cursor: pointer;
  padding: 13px 15px 15px 15px;
}

.searchOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.title {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--color-secondary);
}

.inputsContainer {
  padding: 20px 21.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -1px;
  top: 44px;
  background-color: var(--color-bg-input);
  width: 265px;
  box-sizing: border-box;
  border: 1px solid var(--color-secondary);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 0;
  visibility: hidden;
}

.inputsContainerOpen {
  visibility: visible;
}

.inputsContainerOpen ~ svg {
  transform: rotate(180deg);
}

.input {
  width: 95px;
  height: 45px;
  padding: 15px;
  background-color: var(--color-bg-input-year);
  border-radius: 8px;
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.line {
  width: 12px;
  height: 1px;
  background-color: var(--color-secondary);
}

@media screen and (max-width: 1090px) {
  .search,
  .inputsContainer {
    width: 220px;
  }
}

@media screen and (max-width: 978px) {
  .search,
  .inputsContainer {
    width: 190px;
  }
}

@media screen and (max-width: 885px) {
  .search,
  .inputsContainer {
    width: 160px;
  }
}

@media screen and (max-width: 885px) {
  .inputsContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 740px) {
  .search,
  .inputsContainer {
    width: 250px;
  }
}

@media screen and (max-width: 560px) {
  .search,
  .inputsContainer {
    width: 280px;
  }
  .input {
    font-size: 14px;
  }

  .title {
    font-size: 14px;
  }
}
