.app {
  background-color: var(--color-primary);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  height: 100vh;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-inline: 20px;
}
