@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-bg-input: #0c0c0c;
  --color-bg-input-year: var(--color-secondary);
  --color-secondary-100: rgba(255, 255, 255, 0.3);
}

#light {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-bg-input: #fff;
  --color-bg-input-year: #efefef;
  --color-secondary-100: rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--color-primary);
}

body:has(#light) {
  background-color: var(--color-secondary);
}
